.form__firstBlock {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__secondBlock {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}


.form__container {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 15px;
}

.form__button {
    margin: 5px;
    padding: 5px;
}

.form__input {
    margin: 5px;
}

.form__blockHeader {
    padding: 15px;
    align-self: center;
    border-bottom: 2px solid #ccc;
}

.form__list {}