.form__Block {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__container {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 15px;
    gap: 10px;
}

@media (max-width: 767px) {
    .form__container {
        grid-template-columns: 100%;
    }
}

.form__button {
    color: white;
    background-color: teal;
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: larger;
}

@media (max-width: 767px) {
    .form__button {
        padding: 10px;
    }
}

.form__input {
    margin: 5px;
    font-size: larger;
}

@media (max-width: 767px) {
    .form__input {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.form__blockHeader {
    font-size: x-large;
    padding: 15px;
    align-self: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}