html {
    box-sizing: border-box;
    background-color: #ccc;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.container {
    margin-left: 7%;
    margin-right: 7%;
}

.container__header {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 0;
}